name: Generate terraform docs

on:
  push:
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Render terraform docs inside the README.md and push changes back to PR branch
      uses: terraform-docs/gh-actions@v1.0.0
      with:
        working-dir: .
        output-file: README.md
        output-format: "markdown table"
        output-method: inject
        config-file: .terraform-docs.yml
        git-push: "true"